<div class="container">
  <h1>Material form</h1>
  <form class="form-group" [formGroup]="form">

    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <adventure-range [formGroup]="form" [name]="'alphaTest'"></adventure-range>
        </div>

        <div class="col-md-6">
          <ng-select [items]="blendingDstFactor"
                     placeholder="blendingDstFactor"
                     bindLabel="name"
                     bindValue="id"
                     [formControl]="form.controls['blendDst']">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">

        <div class="col-md-6">
          <adventure-range [formGroup]="form" [name]="'blendDstAlpha'"></adventure-range>
        </div>

        <div class="col-md-6">
          <ng-select [items]="blendingEquation"
                     placeholder="blendingEquation"
                     bindLabel="name"
                     bindValue="id"
                     [formControl]="form.controls['blendEquation']">
          </ng-select>
        </div>

      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <adventure-range [formGroup]="form" [name]="'blendEquationAlpha'"></adventure-range>
        </div>

        <div class="col-md-6">
          <ng-select [items]="blending"
                     placeholder="blending"
                     bindLabel="name"
                     bindValue="id"
                     [formControl]="form.controls['blending']">
          </ng-select>
        </div>
      </div>
    </div>



    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <adventure-range [formGroup]="form" [name]="'blendSrcAlpha'"></adventure-range>
        </div>

        <div class="col-md-6">
          <ng-select [items]="blendingSrcFactor"
                     placeholder="blendSrc"
                     bindLabel="name"
                     bindValue="id"
                     [formControl]="form.controls['blendSrc']">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'clipIntersection'" [formGroup]="form"></adventure-checkbox>
        </div>

        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'clipShadows'" [formGroup]="form"></adventure-checkbox>
        </div>
      </div>
    </div>

    <!--<div class="form-group">-->
      <!--<div class="form-row">-->
        <!--<div class="form-check col-md-6">-->
          <!--<label class="custom-control-label" >clippingPlanes Пока не работает</label>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="form-group">
      <div class="form-row">

        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'colorWrite'" [formGroup]="form"></adventure-checkbox>
        </div>

        <div class="form-check col-md-6">
          <ng-select [items]="depthModes"
                     bindLabel="name"
                     bindValue="id"
                     placeholder="depthFunc"
                     [formControl]="form.controls['depthFunc']">
          </ng-select>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="form-row">
        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'depthTest'" [formGroup]="form"></adventure-checkbox>
        </div>

        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'depthWrite'" [formGroup]="form"></adventure-checkbox>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'fog'" [formGroup]="form"></adventure-checkbox>
        </div>

        <div class="col-md-6">
          <label for="id">id</label>
          <input type="number"
                 [formControl]="form.controls['id']"
                 placeholder="id"
                 class="form-control" id="id">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'isMaterial'" [formGroup]="form"></adventure-checkbox>
        </div>

        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'lights'" [formGroup]="form"></adventure-checkbox>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <label for="id">name</label>
          <input type="text"
                 [formControl]="form.controls['name']"
                 placeholder="name"
                 class="form-control" id="name">
        </div>

        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'needsUpdate'" [formGroup]="form"></adventure-checkbox>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">

        <div class="col-md-6">
          <adventure-range [formGroup]="form" [name]="'opacity'"></adventure-range>
        </div>

        <div class="col-md-6">
          <adventure-range [formGroup]="form" [name]="'overdraw'"></adventure-range>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'polygonOffset'" [formGroup]="form"></adventure-checkbox>
        </div>

        <div class="col-md-6">
          <adventure-checkbox [name]="'polygonOffsetFactor'" [formGroup]="form"></adventure-checkbox>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <adventure-checkbox [name]="'polygonOffsetUnits'" [formGroup]="form"></adventure-checkbox>
        </div>

        <div class="col-md-6">
          <ng-select [items]="precision"
                     bindLabel="name"
                     bindValue="id"
                     placeholder="precision"
                     [formControl]="form.controls['precision']">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'premultipliedAlpha'" [formGroup]="form"></adventure-checkbox>
        </div>

        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'dithering'" [formGroup]="form"></adventure-checkbox>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'flatShading'" [formGroup]="form"></adventure-checkbox>
        </div>

        <div class="col-md-6">
          <ng-select [items]="side"
                     placeholder="side"
                     bindLabel="name"
                     bindValue="id"
                     [formControl]="form.controls['side']">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'transparent'" [formGroup]="form"></adventure-checkbox>
        </div>

        <div class="col-md-6">
          <ng-select [items]="colors"
                     bindLabel="name"
                     bindValue="id"
                     placeholder="colors"
                     [formControl]="form.controls['vertexColors']">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="form-check col-md-6">
          <adventure-checkbox [name]="'visible'" [formGroup]="form"></adventure-checkbox>
        </div>
      </div>
    </div>


    <!--
      TODO: WTF??? userData: any;
      An object that can be used to store custom data about the Material.
      It should not hold references to functions as these will not be cloned.
    -->

    <button type="submit" class="btn btn-success" (click)="diagnostic">Submit</button>

  </form>

  <div class="card border-primary mb-3">
    <div class="card-header" (click)="debug = !debug">Debug information</div>
    <div class="card-body" [hidden]="!debug">
      <h4 class="card-title">Form status: {{ form.status | json }}</h4>
      <pre class="card-text">{{ form.value | json }}</pre>
    </div>
  </div>


</div>
