<div class="container">
  <h1>Hero Form</h1>
  <form [formGroup]="form">

    <div class="form-group">
      <label class="center-block">Name:
        <input class="form-control" formControlName="alphaTest">
      </label>
    </div>

    <div class="form-group">
      <ion-range-slider #sliderElement
                        type="double"
                        [min]="myMinVar"
                        max="100"
                        from="28"
                        from_min="10"
                        from_max="30"
                        from_shadow="true"
                        to="40"
                        to_min="40"
                        to_max="90"
                        to_shadow="true"
                        grid="true"
                        grid_num="10"
                        prefix="Weight: "
                        postfix=" million pounds"
                        decorate_both="false"
                        (onUpdate)="myOnUpdate($event)"
                        (onChange)="myOnChange($event)"
                        (onFinish)="myOnFinish($event)"></ion-range-slider>

    </div>
    <button type="submit" class="btn btn-success" (click)="diagnostic">Submit</button>

  </form>
  <p>Form value: {{ form.value | json }}</p>
  <p>Form status: {{ form.status | json }}</p>

</div>
