<div class="p-3">

  <h5>Height area</h5>

  <div dnd-droppable
       class="card card-info dndarea"
       (onDropSuccess)="transferDataSuccess($event)">
    <div class="card-heading">Place to drop</div>
  </div>

</div>

<adventure-color-map></adventure-color-map>

<div class="p-3">
  <label nz-checkbox [(ngModel)]="model.dungeon">Dungeon</label>
</div>

<div class="p-3">

  <adventure-main-buttons-control>
    <button class="btn btn-primary" (click)="engineService.heightMapService.generateFromNoise()">
      getHeightMap
    </button>

  </adventure-main-buttons-control>

</div>
