<div class="container-flex">

  <nz-collapse class="toolbar main-scroll"
               adventureSceneEvents
               [enabledEvents]="events"
  >
    <nz-collapse-panel
      class="wide"
      *ngFor="let panel of panels"
      [nzHeader]="panel.name"
      [nzActive]="panel.active"
      [nzDisabled]="panel.disabled"
    >
      <adventure-spell-workspace *ngIf="panel.name === 'Spell'"></adventure-spell-workspace>

      <adventure-model-loader *ngIf="panel.name === 'ModelLoader'"></adventure-model-loader>

      <adventure-layers *ngIf="panel.name === 'Layers'"></adventure-layers>

      <adventure-save *ngIf="panel.name === 'Save'"></adventure-save>

      <adventure-load *ngIf="panel.name === 'Load'"></adventure-load>

      <router-outlet></router-outlet>

    </nz-collapse-panel>
  </nz-collapse>


  <!--<div class="selectBox"></div>-->

  <div id="arena"
       adventureSceneEvents
       #scene></div>
</div>
