<form nz-form (ngSubmit)="submitForm()" [formGroup]="spellForm">
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="friendlyFire">Friendly fire</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch
        formControlName="friendlyFire"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
      ></nz-switch>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="range">Range</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-slider formControlName="range"
                 [nzMin]="0"
                 [nzMax]="20"
                 [nzStep]="0.1"
                 ></nz-slider>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="duration">Duration</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-slider formControlName="duration"
                 [nzMin]="0"
                 [nzMax]="3"
                 [nzStep]="0.1"
                 ></nz-slider>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="area">Area</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-slider formControlName="area"
                 [nzMin]="1"
                 [nzMax]="1000"
                 [nzStep]="1"
                 ></nz-slider>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="area">Factor</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-slider formControlName="factor"
                 [nzMin]="0"
                 [nzMax]="3"
                 [nzStep]="0.01"
                 ></nz-slider>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="area">Saving Throw</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select style="width: 120px;"
                 formControlName="savingThrow" nzAllowClear nzPlaceHolder="Choose">
        <nz-option *ngFor="let option of options.savingThrow" [nzValue]="option.value" [nzLabel]="option.presentation"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="area">Sender</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select style="width: 120px;"
                 formControlName="sender" nzAllowClear nzPlaceHolder="Choose">
        <nz-option *ngFor="let mesh of meshes" [nzValue]="mesh" [nzLabel]="mesh.name || mesh.uuid"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="area">Spell Type</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select style="width: 120px;"
                 formControlName="type" nzAllowClear nzPlaceHolder="Choose">
        <nz-option *ngFor="let option of options.spellType" [nzValue]="option.value" [nzLabel]="option.presentation"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="spellForm.controls['type'].value === 0">
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="area">Target</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select style="width: 120px;"
                 formControlName="target" nzAllowClear nzPlaceHolder="Choose">
        <nz-option *ngFor="let mesh of meshes" [nzValue]="mesh" [nzLabel]="mesh.name || mesh.uuid"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="area">Spell Resistance</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch
        formControlName="spellResistance"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
      ></nz-switch>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="area">Casting Time</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select style="width: 120px;"
                 formControlName="castingTime" nzAllowClear nzPlaceHolder="Choose">
        <nz-option *ngFor="let option of options.actions" [nzValue]="option.value" [nzLabel]="option.presentation"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button class="login-form-button" [nzType]="'primary'">Cast</button>
    </nz-form-control>
  </nz-form-item>

  <nz-collapse>
    <nz-collapse-panel
      [nzHeader]="panel.name"
      [nzActive]="panel.active"
      [nzDisabled]="panel.disabled"
    >
      <pre>
        {{spellFormValue | json}}
      </pre>
    </nz-collapse-panel>
  </nz-collapse>

</form>



<ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
<ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
