.modal__background-layer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.modal__close-button {
  position: absolute;
  z-index: 1100;
  top: 12px;
  right: 15px;
}

.modal__fieldset {
  margin-top: 30px;
}


.modal-body {
  padding-top: 70px;
}


.modal-title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}


.modal-footer {
  padding-top: 0;
  border-top: none;
}


.modal-description {
  font-size: 30px;
  text-align: center;
  font-weight: 400;

  * + & {
    margin-top: 10px;
  }
}


.modal-controls {
  width: 100%;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}


.modal-close-button {
  $paddings: 8px;
  $size: 28px;
  $width: 3px;

  box-sizing: content-box;
  box-sizing: border-box;
  display: block;
  width: $size + $paddings;
  height: $size + $paddings;
  padding: $paddings;
  background: none;
  border: none;
  cursor: pointer;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    margin: auto;
    width: $size;
    height: $width;
    background-color: #adadad;
    border-radius: 6px;
    transition: background-color 0.2s ease-in;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(135deg);
  }
}
