<div class="d-flex align-items-stretch h100perc">
  <div class="col">
    <div class="hero-weapon-leftHand"> hero-weapon-leftHand</div>
    <div class="hero-gloves">hero-gloves</div>
  </div>
  <div class="col">
    <div class="hero-head">hero-head</div>
    <div class="hero-body">hero-body</div>
    <div class="hero-belt">hero-belt</div>
    <div class="hero-leg">hero-leg</div>
    <div class="hero-foot">hero-foot</div>
  </div>
  <div class="col">
    <div class="hero-necklaces">
      <div class="hero-necklace">hero-necklace</div>
    </div>
    <div class="hero-weapon-rightHand">hero-weapon-rightHand</div>
    <div class="hero-rings">
      <div class="hero-ring">hero-ring</div>
      <div class="hero-ring">hero-ring</div>
    </div>
  </div>
</div>
