<div class="wide h100perc d-flex align-items-center">
  <div>

    <div class="wide d-flex align-items-stretch justify-content-around">
      <div class="d-flex align-items-center justify-content-center">
        <div class="flex-column">
          <div class="hero-item hero-weapon-leftHand">weapon-leftHand</div>
          <div class="hero-item hero-gloves">gloves</div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="flex-column">
          <div class="hero-item hero-head">head</div>
          <div class="hero-necklaces d-flex align-items-stretch justify-content-around">
            <div class="hero-item hero-necklace">nec</div>
            <div class="hero-item hero-necklace">nec</div>
          </div>
          <div class="hero-item hero-body">body</div>
          <div class="hero-item hero-leg">leg</div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="flex-column">
          <div class="hero-item hero-weapon-rightHand">weapon-rightHand</div>
          <div class="hero-item hero-foot">foot</div>
        </div>
      </div>
    </div>

    <div class="wide d-flex align-items-stretch justify-content-around">
      <div class="hero-rings d-flex align-items-stretch justify-content-around">
        <div class="hero-item hero-ring">ring</div>
        <div class="hero-item hero-ring">ring</div>
      </div>
      <div class="hero-item hero-belt">hero-belt</div>
      <div class="hero-rings d-flex align-items-stretch justify-content-around">
        <div class="hero-item hero-ring">ring</div>
        <div class="hero-item hero-ring">ring</div>
      </div>
    </div>

  </div>
</div>
