<div class="card-login card-container" >
  <img id="profile-img" class="profile-img-card" src="/assets/images/login-recovery.svg" />
  <p id="profile-name" class="profile-name-card"></p>

  <form nz-form [formGroup]="loginForm" class="form-signin mb-2">
    <nz-form-item class="mb-2">
      <span id="reauth-email" class="reauth-email"></span>
      <nz-form-control [nzSpan]="24">
        <input type="email" id="inputEmail" [formControlName]="'email'" class="form-control text-center" placeholder="Email address" >
      </nz-form-control>
    </nz-form-item>
      <!--TODO: add password repeat-->
    <nz-form-item class="mb-2">
      <button nz-button (click)="loginFormSubmit()" [disabled]="this.loginForm.invalid" class="btn btn-outline-secondary btn-block btn-signin mb-2" type="submit">Recovery</button>
      <a [routerLink]="'/login'" class="forgot-password text-right d-block">Sign in</a>
      <a [routerLink]="'/login/login-reg'" class="forgot-password text-right d-block">Registrate</a>
    </nz-form-item>
  </form><!-- /form -->
</div><!-- /card-container -->
