$translateZ:500px;

.pen {
  pointer-events: none;
}

.container-carousel {
  margin: 0 auto;
  position: relative;
  height: 510px;
  width: 100%;
  overflow-x: hidden;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 500px;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: rotateY(0deg) translateZ(0);
}

.column {
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.item {
  display: block;
  position: absolute;

  -webkit-transition: linear 0.1s;
  -moz-transition: linear 0.1s;
  -ms-transition: linear 0.1s;
  -o-transition: linear 0.1s;
  transition: linear 0.1s;

  padding:20px;

  background-size: cover;
  background-position-x: 50%;
  width: 500px;
  height: 500px;

  text-align: center;
  color: #FFF;
  opacity: 1;
  border-radius: 10px;

  -webkit-box-shadow:  0px 3px 10px #000;
  -moz-box-shadow:  0px 3px 10px #000;
  box-shadow:  0px 3px 10px #000;

  transform: scale(0.8) ;

  &.active {
    transform: scale(1);
  }

}


.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }
