<div class="toolbar">
  <div class="btn-group-vertical" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary" [routerLink]="['/', { outlets: {popup: ['editor','height-map']}}]">Height map</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/', { outlets: {popup: ['editor','light-map']}}]">Light map</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/', { outlets: {popup: ['editor','color-map']}}]">Color map</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/', { outlets: {popup: ['editor','layers']}}]">Layers</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/', { outlets: {popup: ['editor','models']}}]">Models</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/', { outlets: {popup: ['editor','lights']}}]">Lights</button>
  </div>
</div>

<div id="scene"
     (mouseover)="dragStartMouse($event)"
     (mousedown)="dragStartMouse($event)"
     (mousemove)="dragMoveMouse($event)"
     (mouseup)="dragEndMouse($event)"
     (wheel)="mouseWheel($event)"
     adventureSceneEvents
     #scene></div>

<router-outlet></router-outlet>
