/* You can add global styles to this file, and also import other style files */
@import "assets/scss/bootstrap/bootstrap";

//TODO: выпилить ng-select, bourbon
@import "~bourbon/core/_bourbon";
@import "~@ng-select/ng-select/themes/default.theme.css";


@import "~ng-zorro-antd/ng-zorro-antd.css";

/**
  FOOD
 */
*:focus {outline: none;}
[ng-reflect-router-link]{cursor: pointer;}

/**
  FONTS
 */
$url-face: './assets/fonts';

@include font-face("igra-sans", $url-face + "/IgraSans", $file-formats: eot woff2 woff ttf svg);
@include font-face("inglobal",  $url-face + "/inglobal", $file-formats: eot woff2 woff ttf svg);
@include font-face("komi",      $url-face + "/Komi", $file-formats: eot woff2 woff ttf svg);
@import "assets/scss/font-awesome/font-awesome";
@import "assets/scss/main";

/**
  Drag'n'drop
 */

.dnd-drag-start {
  -moz-transform:scale(0.8);
  -webkit-transform:scale(0.8);
  transform:scale(0.8);
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;

  &:hover{
  //
  }

}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}

/**
  Slider
 */
@import "~nouislider/distribute/nouislider.min.css";
.noUi-handle{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  background: $primary;

  //TODO: обновлять модуль, так как разраб косоеб, а я ленивый
  pointer-events: none;
  //END: TODO
}
